section#follow
    h3 pratite nas
    .social-links
        a(href="https://twitter.com/diwaneeserbia?lang=en", target="_blank").icon-twitter
        a(href="https://www.facebook.com/Diwanee/", target="_blank").icon-facebook