footer
    div.lockup
        p.copyright COPYRIGHT © 2015  DIWANEEE SERBIA ALL RIGHTS RESERVED
        p.copyright-mobile COPYRIGHT © 2015  DIWANEEE SERBIA 
        nav
            a(href="https://twitter.com/diwaneeserbia?lang=en", target="_blank").icon-twitter
            a(href="https://www.linkedin.com/company-beta/700371/?pathWildcard=700371", target="_blank").icon-linkedin 
            a(href="www.diwanee.com", target="_blank").website www.diwanee.com